body {
    background-color: rgb(245, 207, 239);
    color: rgb(235, 130, 209);
}
    
table {
    width: 900px;
    background-color: rgb(212, 187, 235);
    height: 300px;
}
 
tr:hover {
    background-color: rgb(224, 147, 218);
    color: rgb(209, 34, 209);
}
img{
    height: 50%;
    width: 100%;
}
td
{
    height: 100%;
    width: 33%;
}